.heading {
  letter-spacing: 4px;
  line-height: 3rem;
  text-shadow: 1px 1px 10px #888888;
}
.lead {
  text-shadow: 1px 1px 10px #888888;
}
.navbar {
  box-shadow: 1px 1px 10px #888888;
}

.why {
  font-size: 20px;
}

.gartner {
  height: 600px;
  margin-left: 50px;
}

.logo-footer {
  height: 50px;
}

.jumbotron {
  background: none;
  background: #008fb8;
  color: white;
}
